.projects-container {
  width: 100%;
  height: auto;
  background-color: black;
}

.projects-container h1 {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 2rem 0;
  text-align: center;
  color: white;
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.projects-cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}

.projects-card {
  width: 90%;
  height: auto;
  display: flex;
  border-radius: 25px;
  border: 1px solid #854ce6;
  box-shadow: #854ce6 0px 5px 20px;
  background-color: rgba(17, 25, 40, 0.83);
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.projects-card:nth-child(even) {
  flex-direction: row;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.projects-details1 {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.projects-details1 h2 {
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
}

.projects-details1 img {
  width: 90%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}

.projects-details2 {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.projects-details2 h2 {
  width: 45%;
  height: auto;
  text-align: center;
  color: white;
  @media (max-width: 768px) {
    width: 100%;
    font-size: 1.2rem;
  }
}

.projects-details2 p {
  font-size: 1.2rem;
  margin: 1rem 2rem;
  color: white;
  @media (max-width: 768px) {
    width: 90%;
    text-align: center;
    font-size: 1rem;
  }
}

.projects-tags {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  @media (max-width: 768px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}

.projects-details2 h4 {
  width: 20%;
  height: auto;
  color: white;
  margin: 1rem 2rem;
  padding: 4px 0;
  font-size: 1.5rem;
  text-align: center;
  background-color: #592b69;
  border-radius: 10px;
  @media (max-width: 768px) {
    width: 25%;
    font-size: 1rem;
  }
}

.projects-btn {
  padding: 1rem 2rem;
  margin: 2rem 0;
  font-size: 1rem;
  border-radius: 1rem;
  border: 0;
  background: linear-gradient(to right, #7b4397, #dc2430);
  box-shadow: #7b4397 0px 5px 20px;
  cursor: pointer;
  white-space: nowrap;
  width: fit-content;
  @media (max-width: 768px) {
    margin: 1rem 0;
  }
}

.projects-btn a {
  text-decoration: none;
  color: white;
}

.projects-btn:hover {
  background: linear-gradient(to right, #185a9d, #43cea2);
}
