.skills-container {
  width: 100%;
  height: auto;
  background-color: black;
}

.skills-container h1 {
  height: auto;
  margin: 0;
  text-align: center;
  padding-top: 2rem;
  color: white;
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.skills-container h2 {
  height: auto;
  margin: 0;
  padding: 1rem 0;
  color: white;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.skills-cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  @media (max-width: 768px) {
    width: 100%;
    margin: 0 auto;
    gap: 0;
  }
}

.skills-card {
  width: 40%;
  height: auto;
  margin: 1rem 0;
  border-radius: 25px;
  border: 1px solid #854ce6;
  box-shadow: #854ce6 0px 5px 20px;
  background-color: rgba(17, 25, 40, 0.83);
  @media (max-width: 768px) {
    width: 90%;
    margin: 20px 0;
  }
}

.skills-card h1 {
  text-align: center;
  opacity: 80%;
}

.skills-items {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 25%;
  height: 100%;
  margin: 2% 0;
  padding: 2% 2%;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  border: 2px solid wheat;
  @media (max-width: 768px) {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.item img {
  width: 40%;
  height: auto;
  border-radius: 15px;
  @media (max-width: 768px) {
    width: 30%;
  }
}

.item h4 {
  color: white;
  opacity: 70%;
  @media (max-width: 768px) {
    font-size: 15px;
  }
}
