.about-container {
  width: 100%;
  height: auto;
  display: flex;
  background-color: black;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.hero-contant {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    width: 100%;
    text-align: center;
  }
}

.hero-contant h1 {
  width: auto;
  height: auto;
  color: white;
  font-size: 2.5rem;
  @media (max-width: 768px) {
    font-size: 1.8rem;
  }
}

.hero-contant h2 {
  width: auto;
  height: auto;
  font-size: 2rem;
  color: white;
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.hero-contant span {
  width: auto;
  height: auto;
  font-size: 2rem;
  color: green;
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.hero-contant p {
  width: 80%;
  height: auto;
  font-size: 1.2rem;
  color: white;
  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.hero-btn {
  padding: 1rem 2rem;
  margin: 3rem 0;
  font-size: 1rem;
  border-radius: 1rem;
  border: 0;
  background: linear-gradient(to right, #7b4397, #dc2430);
  box-shadow: #7b4397 0px 5px 20px;
  cursor: pointer;
}

.hero-btn a {
  text-decoration: none;
  color: white;
}

.hero-btn:hover {
  background: linear-gradient(to right, #185a9d, #43cea2);
}

.image-div {
  width: 50%;
  height: auto;
  @media (max-width: 768px) {
    width: 100%;
    margin: 0 auto;
  }
}

.image-div img {
  width: 50%;
  height: auto;
  margin: 4% 25%;
  border-radius: 50%;
  border: 1px solid #7d3c98;
  box-shadow: #7d3c98 0px 0px 50px;
}
