.header-container {
  width: 100%;
  height: auto;
  background: linear-gradient(to right, #04b7ba, #024c4d);
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container img {
  width: 15%;
  height: 100%;
  @media (max-width: 768px) {
    width: 40%;
    height: auto;
  }
}
