.header-container {
  width: 100%;
  height: 50px;
  color: white;
  background: linear-gradient(to right, #04b7ba, #024c4d);
  padding: 4px 0px;
  display: flex;
  justify-content: end;
}

.header-container ul li {
  display: inline-block;
  margin: 2px 25px;
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
}
