.footer-container {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 5px 0;
  color: white;
  background: linear-gradient(to right, #04b7ba, #024c4d);
}

@media (max-width: 768px) {
  .footer-container {
    font-size: 0.8rem;
  }
}
