.experience-container {
  width: 100%;
  height: auto;
  background-color: black;
}

.experience-container h1 {
  height: auto;
  margin: 0;
  text-align: center;
  padding-top: 2rem;
  color: white;
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.experience-container h2 {
  height: auto;
  margin: 0;
  text-align: center;
  padding: 1rem 0;
  color: white;
  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.experience-cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.experience-card {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 25px;
  border: 1px solid #854ce6;
  box-shadow: #854ce6 0px 5px 20px;
  background-color: rgba(17, 25, 40, 0.83);
  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
}

.details1 {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details1 img {
  width: 50%;
  height: auto;
  margin: 1rem 0;
  border-radius: 2rem;
  @media (max-width: 768px) {
    width: 150%;
    border-radius: 1rem;
  }
}

.experience-btn {
  padding: 1rem 2rem;
  margin: 2rem 0;
  font-size: 1rem;
  border-radius: 1rem;
  border: 0;
  background: linear-gradient(to right, #7b4397, #dc2430);
  box-shadow: #7b4397 0px 5px 20px;
  cursor: pointer;
  white-space: nowrap;
  width: fit-content;
  @media (max-width: 768px) {
    margin: 0;
  }
}

.experience-btn a {
  text-decoration: none;
  color: white;
}

.experience-btn:hover {
  background: linear-gradient(to right, #185a9d, #43cea2);
}

.details2 {
  width: 70%;
  height: auto;
  @media (max-width: 768px) {
    width: 90%;
    padding-top: 1rem;
  }
}

.details2 h2 {
  width: 100%;
  height: auto;
  text-align: start;
  color: white;
  @media (max-width: 768px) {
    text-align: center;
  }
}

.details2 h4 {
  width: 100%;
  height: auto;
  color: white;
}

.details2 p {
  width: 100%;
  height: auto;
  font-size: 1.2rem;
  color: white;
  @media (max-width: 768px) {
    font-size: 1rem;
    text-align: center;
  }
}

.details2 h3 {
  width: 80%;
  height: auto;
  display: flex;
  @media (max-width: 768px) {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.details2 h5 {
  width: 100%;
  height: auto;
  color: white;
  @media (max-width: 768px) {
    width: 40%;
  }
}
